/* base style */
body {
    font-family:Papyrus; 
    background-color: #CCCCCC;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}
main {
    flex-grow: 1;
    background-image:  url('/static/img/background1.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center top;
    background-origin: border-box;  
}
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background-color: #333333;
    color: #afafaf;
}
footer {
    background-color: #afafaf;
}
header a {
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover {
    color: #ffffff;
}
header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0; margin: 0;
}
header ul.nav li {
    margin: 0 0.5rem;
    padding: 0.5rem;
}
h1, h2, h3 { 
    border-bottom: 2px solid #FFCC00; 
    padding: 1rem;
    background-color: transparent;
    font-family: Papyrus;
    font-style: italic;
    font-size: large;
    font-weight: 1000;
}
p {
    text-align: left;
    font-family: Papyrus;
    font-style: italic;
    font-size: medium;
    font-weight: 800;
    padding: 0 1rem;
}

/* Sign Up, Login Forms*/

body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

/* form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(-5deg);
} */

label {
    display: block;
    margin-bottom: 5px;
    color: #333;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* transform: rotate(8deg) */
}

/* button.update-btn {
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button.update-btn:hover {
    background-color: #45a049;
    /* transform: translateX(0%); */
/* } */

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* button:hover {
    background-color: #45a049;
    transform: translateX(100%);
} */

p {
    text-align: center;
    margin-top: 20px;
}

 a {
    text-decoration: none;
} 

/* Top Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin-right: 10px;
}

.nav .spacer {
    flex: 1;
}

.nav .right-links {
    display: flex;
    align-items: center;
}

.nav .right-links li {
    margin-right: 10px;
}

/* Profile Picture Navigation Bar */
.nav-profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Profile Picture */
.profile-photo {
    display: block;
    margin: auto;
    
}
h4 {
    font-style: italic;
    margin-left: 2rem;
}
div.beer {
    display: flex;
    background-image: url('/static/img/darkpapyrus.png');
    background-size: 60% 100%;
    background-repeat:no-repeat;
    background-position:center center;
    border-collapse: collapse;
    
}

