/* base style */
body { 
    background-color: #CCCCCC;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    font-family: Papyrus;
    font-style: italic;
    font-size: medium;
    font-weight: 800;
}
main {
    flex-grow: 1;
    background-image:  url('/static/img/background1.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center top;
    background-origin: border-box;  
}
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background-color: #333333;
    color: #afafaf;
}
footer {
    background-color: #afafaf;
}
header a {
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover {
    color: #ffffff;
}
header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0; margin: 0;
}
header ul.nav li {
    margin: 0 0.5rem;
    padding: 0.5rem;
}
h1, h2, h3 { 
    border-bottom: 2px solid #FFCC00; 
    padding: 1rem;
    background-color: transparent;
    font-family: Papyrus;
    font-style: italic;
    font-size: large;
    font-weight: 1000;
}
p {
    text-align: left;
    font-family: Papyrus;
    font-style: italic;
    font-size: medium;
    font-weight: 800;
    padding: 0 1rem;
}

/* Sign Up, Login Forms*/

div.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
div.form-background {
    background-image:  url('/static/img/meniu.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center top;
    background-origin: border-box; 
    max-width: 1250px;
    min-height: 90vh;
    height: 90vh;
    width: 100%
}
div.form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    min-height: 90vh;
    width: 150%;
    box-sizing: border-box;
    padding-left: 250px;
    padding-right: 250px;
}
div.form-main-content {
    flex: 1;
    text-align: center;
    margin-top: 9rem;
    padding-top: 10rem;
    padding: 3.5rem;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
} 

label {
    display: block;
    margin-bottom: 5px;
    color: #333;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* button.update-btn {
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button.update-btn:hover {
    background-color: #45a049;
    /* transform: translateX(0%); */
/* } */

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* button:hover {
    background-color: #45a049;
    transform: translateX(100%);
} */

p {
    text-align: center;
    margin-top: 20px;
}

 a {
    text-decoration: none;
} 

/* Top Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin-right: 10px;
}

.nav .spacer {
    flex: 1;
}

.nav .right-links {
    display: flex;
    align-items: center;
}

.nav .right-links li {
    margin-right: 10px;
}

/* Profile Picture Navigation Bar */
.nav-profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Profile Picture */
.profile-photo {
    display: block;
    margin: auto;
    
}
h4 {
    font-style: italic;
    
    margin-left: 2rem;
}
div.beer {
    display: flex;
    background-image: url('/static/img/darkpapyrus.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center center;
    border-collapse: collapse;
    
}
form.inline-form {
    display: inline-block;
}

/* Reviews */

.float-right {
    float: right;
}

/* Add beer */
.buy-form {
    margin-top: 50px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #7f5f1a;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100px;
}
.buy-button {
    background-color: #7f5f1a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* review */
.review-section {
    margin-top: 50px;
}
h2 {
    font-size: 28px;
    color: #7f5f1a;
    border-bottom: 2px solid #7f5f1a;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
form {
    margin-bottom: 30px;
}
form p {
    text-align: center;
}
button[type="submit"] {
    background-color: #7f5f1a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.nice-list {
    list-style: none;
    padding: 0;
}
.nice-list li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #7f5f1a;
    border-radius: 5px;
}
.nice-list h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.float-right {
    float: right;
}

/*Profile */
.default-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.update-btn {
    background-color: #7f5f1a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.update-btn a {
    color: white;
    text-decoration: none;
}
/* My Orders button */
.my-orders {
    background-color: #7f5f1a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.my-orders a {
    color: white;
    text-decoration: none;
}