.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; 
    /* background-image:  url('/static/img/background1.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center top;
    background-origin: border-box;   */
}
div.beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('/static/img/light-meniu.png');
    background-size: auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
    background-origin: border-box;
    max-width: 2500px;
    max-height: px;
    min-height: 90vh;
    width: 100%;
    box-sizing: border-box;
}
table.beers {
    margin-left: auto;
    margin-right: auto;
}
table.beers td {
    font-family: papyrus;
    font-style: italic;
    font-weight: 800;
}
table.beers th {
    font-family: papyrus;
    font-style: italic;
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
}
table.beers a {
    color: black;
}
table.beers a:hover {
    color: #FFCC00;
    text-decoration: underline;
}
img.beer_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
}
div.float_right {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
 h4 {
    font-style: italic;
    padding-top: 135px;
    margin-left: 1rem;
    color: black;
    max-width: 60%;
}
h1 {
    color : azure;
    size: 20px;
}
/* div.beer {
    display: flex;
    background-image: url('/static/img/darkpapyrus.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center center;
    border-collapse: collapse;
    
}  */
