{% extends "base.html" %}
{% load static i18n %}
{% block title %}beer available in White Knight bar{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "beer meniu"|capfirst %}</h1>
<div class="pager">
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    {% endif %}
    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </span>
    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% if object_list %}
    <table class="beer-meniu center">
        <tr>
            <th>{% trans "name"|capfirst %}</th>
            <th>{% trans "price"|capfirst %}</th>
            <th>{% trans "available liters"|capfirst %}</th>
            <th>{% trans "beer type"|capfirst %}</th>
        </tr>
    {% for beer in object_list %}
        <tr class="data-meniu">
            <td><a href="{% url 'beer_detail' beer.name %}">{{ beer.name }}</a></td>
            <td>{{ beer.price }}$</td>
            <td>{{ beer.qty }}</td>
            <td>{{ beer.beer_type.name }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{% trans "no beer available" %}</p>
{% endif %}
{% endblock content %}