{% extends "base.html" %}
{% load static i18n %}
{% block title %}"beer detail"{{ block.super }} {% endblock title %} 
{% block content %}
<h1> {% trans "beer describtion"|capfirst %}</h1>
    <ul class="beer_detail">
        {% comment %} {% for beer in object_list  %} {% endcomment %}
            <li class="center">
                {% if beer.cover %}
                    <img class="beer-cover" src="{{ beer.cover.url }}">
                {% else %}
                    <img class="regular-cover" src="{% static "img/regular.jpg" %}">
                {% endif %}            
            </li>
            <h3>{{ beer.name }} </h3>
            <li> {{ beer.detail }}$ </li>
            <li> price {{ beer.price }}$ </li>
    {% comment %} {% endfor %} {% endcomment %}
    </ul>
{% endblock content %}