{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Light beers in" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Light beers"|title %}</h1>
<div style="width: 100%;">
    <div style="float:left; width: 50%">
        <h4>{% trans "Light beers are brewed using a meticulous process designed to reduce both color and caloric content. This typically involves using a larger percentage of pale malts and extended fermentation to achieve a crisp, refreshing taste. The result is a pale, clear beer with a subtle malt sweetness and a lower alcohol by volume, making it a perfect choice for those seeking a lighter, easy-drinking option, especially on warm days." %}</h3>
        <table class="beers">
            <tr><th>{% trans "name"|title %}</th><th>{% trans "available liters"|title %}</th><th>{% trans "price"|title %} $</th></tr>
            {% for beer in beers %}
                <tr><td><a href="{% url 'beer_detail' beer.name %}">{{ beer.name }}</a></td><td>{{ beer.qty }}</td><td>{{ beer.price }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:right;">
        <a href="{% url 'dark_beer'%}"> <img src="{% static 'img/right.png' %}" alt="Right Image" class="side-image right-image"></a>
    </div>
<div style="clear:both"></div>
<div class="pager">
    {% if page_obj.has_previous %}
        <a href="?page=1">{% trans "first"|title %}</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous"|title %}</a>
        {% endif %}
    {% endif %}
    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </span>
    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next"|title %}</a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last"|title %}</a>
    {% endif %}
</div>
{% endblock content %}
