{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Light beers in" %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="beer" style="float:left;">
        <h4>Light beers</h4>
        <h4 style="max-width: 500px">Light beers are brewed using a meticulous process designed to reduce both color and caloric content. This typically involves using a larger percentage of pale malts and extended fermentation to achieve a crisp, refreshing taste. The result is a pale, clear beer with a subtle malt sweetness and a lower alcohol by volume, making it a perfect choice for those seeking a lighter, easy-drinking option, especially on warm days.</h3>
        <div class="pager">
            {% if page_obj.has_previous %}
                <a href="?page=1">{% trans "First" %}</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                {% endif %}
            {% endif %}
            <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </span>
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
            {% endif %}
        </div>
        <div>   
            <table class="beers">
                <tr><th>Name</th><th>Available Liters</th><th>Price $</th></tr>
                {% for beer in light_beer %}
                    {% if beer.beer_type.name == 'Light' %}
                        <tr><td><a href="{% url 'beer_detail' beer.name %}">{{ beer.name }}</a></td><td>{{ beer.qty }}</td><td>{{ beer.price }}</td></tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="float_right">
        <a href="{% url 'dark_beer'%}"> <img src="{% static 'img/right.png' %}" alt="Right Image" class="beer_img" style="width: 450px;"></a>
    </div>
<div style="clear:both"></div>
<link rel="stylesheet" type="text/css" href="{% static 'css/dark_beer.css' %}">

{% endblock content %}
