{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "my orders"|title %}{% endblock title %}
{% block content %}
    <h1>{% trans "my orders" %}</h1>
    {% if order_data %}
        <table class="tbl_orders">
            <tr>
                <th>{% trans "Order ID" %}</th>
                <th>{% trans "total price"|title %}</th>
                <th>{% trans "date"|title %}</th>
                <th>{% trans "status"|title %}</th>
                <th>{% trans "view order" %}</th>
            </tr>
            {% for data in order_data %}
                <tr>
                    <td><a href="{% url 'order_detail' data.order.id %}">{{ data.order.id }}</a></td>
                    <td>{{ data.total_price }}</td>
                    <td>{{ data.order.date }}</td>
                    <td>{{ data.order.get_status_display }}</td>
                    <td><a href="{% url 'order_detail' data.order.id %}">&#127867;</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No orders found" %}.</p>
    {% endif %}
{% endblock content %}