{% extends "base.html" %}
{% load static i18n%}
{% block title %}{% trans "Order Detail" %}{% endblock title %}
{% block content %}
    <h1>{% trans "Order Detail - Order ID" %}: {{ order.id }}</h1>
    <div class="order_detail_info">
        <p>{% trans "Total Price" %}: {{ order.get_total_price }}</p>
        <p>{% trans "Date" %}: {{ order.date }}</p>
        <p>{% trans "Status" %}: {{ order.get_status_display }}</p>
    </div>    
    <h2>{% trans "Ordered Beers" %}:</h2>
    {% if order_lines %}
        <table class="tbl_orders_detail">
            <tr>
                <th>{% trans "Beer Name" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Total Price" %}</th>
            </tr>
            {% for order_line in order_lines %}
                <tr>
                    <td>{{ order_line.beer.name }}</td>
                    <td>{{ order_line.qty }}</td>
                    <td>{{ order_line.price }}</td>
                    <td>{{ order_line.total_price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No orders have been made" %}.</p>
    {% endif %}
{% endblock content %}