{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "order detail"|title %}{% endblock title %}
{% block content %}
    <h1>{% trans "Order Detail - Order ID" %}: {{ order.id }}</h1>
    <p>{% trans "total price"|title %}: {{ order.get_total_price }}</p>
    <p>{% trans "date"|title %}: {{ order.date }}</p>
    <p>{% trans "status"|title %}: {{ order.get_status_display }}</p>

    <h2>{% trans "Ordered Beers"|title %}:</h2>
    {% if order_lines %}
        <table class="tbl_orders">
            <tr>
                <th>{% trans "beer name"|title %}</th>
                <th>{% trans "quantity"|title %}</th>
                <th>{% trans "price"|title %}</th>
                <th>{% trans "total price"|title %}</th>
            </tr>
            {% for order_line in order_lines %}
                <tr>
                    <td>{{ order_line.beer.name }}</td>
                    <td>{{ order_line.qty }}</td>
                    <td>{{ order_line.price }}</td>
                    <td>{{ order_line.total_price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No orders have been made" %}.</p>
    {% endif %}
{% endblock content %}