{% extends "base.html" %}
{% block title %}Password Reset at {{ block.super }}{% endblock title %}
{% block content %}
<div class="form-container">
    <div class="form-background center">
        <div class="form-content center">
            <div class="form-main-content center">
            <h1>Reset Your Password</h1>
            <form method="POST" action="{{ request.path }}">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Confirm</button></p>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}