<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% trans "white knight"|title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base_style_v2.css" %}">
    <style></style>
</head>
<body>
    <header>
        <ul class="nav">
            <li class="logo"><a href="{% url "index" %}">{% trans "white knight"|title %}</a></li>
            <li><a href="{% url "beer_meniu" %}">{% trans "beer meniu"|title %}</a></li>
            <li class="spacer"></li>
            <li><a href="{% url "my_beer" %}">{% trans "my beer"|title %}</a></li>
            {% if user.is_authenticated %}
                <li>
                    {% if user.profile.photo %}
                        <a href="{% url "profile" %}"><img class="nav-profile-photo" src="{{ user.profile.photo.url }}" alt="User Profile Picture"></a>
                    {% else %}
                        <a href="{% url "profile" %}">{{ user.username }}</a>
                    {% endif %}
                </li>
                {% if user.is_superuser or user.is_staff %}
                <li><a href="{% url "admin:index" %}">{% trans "admin"|title %}</a></li>
                {% endif %}
                <li><a href="{% url "logout" %}">{% trans "logout"|title %}&#127866;</a></li>
            {% else %}
                <li>{% trans "Welcome, Drinker"|title %}</li>
                <li><a href="{% url "login" %}">{% trans "login"|title %}</a></li>
                <li><a href="{% url "signup" %}">{% trans "sign up"|title %}</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
            <div class="box box-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 {% trans "white knight"|title %}</p>
    </footer>
</body>
</html>