<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% trans "balti žirgai"|title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base_style_v2.css" %}">
    <style></style>
</head>
<body>
    <header>
        <ul class="nav">
            <li class="logo"><a href="{% url "index" %}">{% trans "White Knight"|title %}</a></li>
            <li><a href="{% url "beer_meniu" %}">{% trans "beer meniu"|title %}</a></li>
            <li class="spacer"></li>
            <li><a href="{% url "my_beer" %}">{% trans "My Beer"|title %}</a></li>
            {% if user.is_authenticated %}
                <li>
                    {% if user.profile.photo %}
                        <a href="{% url "profile" %}"><img class="nav-profile-photo" src="{{ user.profile.photo.url }}" alt="User Profile Picture"></a>
                    {% else %}
                        <a href="{% url "profile" %}">{{ user.username }}</a>
                    {% endif %}
                </li>
                {% if user.is_superuser or user.is_staff %}
                <li><a href="{% url "admin:index" %}">{% trans "admin"|title %}</a></li>
                {% endif %}
                <li><a href="{% url "logout" %}">{% trans "logout"|title %}&#127866;</a></li>
            {% else %}
                <li>{% trans "Welcome, Drinker" %}</li>
                <li><a href="{% url "login" %}">{% trans "Login"|title %}</a></li>
                <li><a href="{% url "signup" %}">{% trans "Sign Up"|title %}</a></li>
            {% endif %}
            <li>
                <form class="inline-form" action="{% url "set_language" %}" method="POST">
                    {% csrf_token %}
                    <select name="language" onchange="this.form.submit();">
                        {% for language in LANGUAGES %}
                            <option value="{{ language.0 }}"
                            {% if language.0 == LANGUAGE_CODE %} selected {% endif %}
                            >{{ language.1 }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
            <div class="box box-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 {% trans "White Knight" %}</p>
    </footer>
</body>
</html>